<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wanderlust.community_antiepidemic_system">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".WanderlustApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunityAntiepidemicSystem"
        tools:targetApi="n">
        <activity
            android:name=".activities.register.OutsideActivity"
            android:theme="@style/Theme.PrimaryStatusBg"/>
        <activity
            android:name=".activities.register.TemperatureActivity"
            android:theme="@style/Theme.PrimaryStatusBg" />
        <activity
            android:name=".activities.search.SearchCommunityActivity"
            android:theme="@style/Theme.PrimaryStatusBg" />
        <activity
            android:name=".activities.home.UserHomeActivity"
            android:theme="@style/Theme.WhiteStatusText" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:theme="@style/Theme.WhiteStatusText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.SignUpActivity"
            android:theme="@style/Theme.WhiteStatusText" />
        <activity
            android:name=".activities.qrcode.QRCodeActivity"
            android:theme="@style/Theme.WhiteStatusText" />
        <activity android:name=".activities.map.MapActivity" />
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZkG4MW9RNjR5kcf0vxlGZPMOdbN1KNav" />
    </application>

</manifest>